.Message {
  font-size: 26px;
  font-family: sans-serif;
}
.input {
  font-size: 16px;
  width: 540px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 0.04em;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 36px;
  margin-bottom: 30px;
}
.input__message {
  height: 144px;
  width: 540px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 21px 0px 0px 36px;
}
.button {
  font-size: 16px;
  line-height: 26px;
  width: 540px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgb(53 110 173 / 20%);
  border-radius: 10px;
  padding: 23px 0;
  border: none;
  text-transform: uppercase;
  margin-top: 72px;
}